 <div class="row">
   <div class="col-xs-12 col-sm-12 col-md-12">
       <center>
          <h1 class="lead">KEDEPUTIAN III</h1>
          <h2 class="lead">UNIVERSITAS FAJAR</h2>
       </center>
       <br>
   </div>
   <div class="col-xs-12 col-sm-12 col-md-12 hidden-xs-down">
     <center>
         <%= image_tag("unifa_logo.png", class: "logo", align: "center")  %>
     </center>
     <br>
   </div>
   <div class="col-xs-12 col-sm-12 col-md-12">
     <ul class="nav nav-tabs center-nav">
          <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Another link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
      </ul>
   </div>

   <div class="col-xs-12 col-sm-12 col-md-12">
     <center>
         <h2 class="lead">MAKASSAR</h2>
         <h2 class="lead">2016</h2>
     </center>
     <br>
   </div>

 </div>
 <div class="row">

 </div>
